%box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}
.box {
  @extend %box;
  flex-direction: row;

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
  }

  &.is-x-center {
    justify-content: center;
  }

  &.is-y-center {
    align-items: center;
  }

  .text-offset {
    padding-top: 10px;
  }

  &--stack {
    @extend %box;
    flex-direction: column;

    &.is-y-center {
      justify-content: center;
    }
  }
}