{% extends "_layouts/generic-page-layout.twig" %}

{% block content %}
    <div class="sm:container sm:mx-auto">
        <h1 class="text-2xl max-w-sm pt-16 pb-20 font-medium sm:text-4xl sm:max-w-md md:pt-40 md:pb-32 md:text-5xl md:max-w-3xl lg:text-6xl">{{ entry.pageIntroduction }}</h1>
    </div>

    <div>
        <video autoplay loop>
            <source src="{{entry.heroVideo.one().url}}" type="video/mp4">
        </video>
    </div>

    {% include "_layouts/matrixPageContent" %}

{% endblock %}

{% block js %}
    <script type="text/javascript" src="./node_modules/slick-carousel/slick/slick.min.js"></script>
    <script type="text/javascript" src="./assets/js/service-slider.js"></script>
{% endblock %}
