// --------------------------------------------------------------------------------------------------
// Setup variables
// --------------------------------------------------------------------------------------------------

$debug: false; // Enables visual changes like grid lines.
$aos-distance: 10px;

:root {
  --grid-max: 75rem;
}