@keyframes animate-menu-open {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animate-menu-close {
  to {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

.navigation-window {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--color-black);
  padding: 20px;
  transform: translateX(-100vw);
  opacity: 0;

  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all .3s ease-in-out;

  @include bp-sm {
    display: flex;
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .navigation-close {
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 50px;

    span {
      position: absolute;
      top: 13px;
      left: -6px;
      display: block;
      height: 2px;
      width: 40px;
      background-color: #595959;
      transition: all .3s ease-in-out;

      &:first-of-type {
        transform: rotate(45deg);
      }
      &:last-of-type {
        transform: rotate(-45deg);
      }
    }
  }

  nav.navigation {
    margin-top: 8em;
    ul.menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      padding: 0;
      margin: 0;
      list-style: none;

      li.menu-item {
        transition: transform .3s ease-in-out;

        a {
          font-weight: 600;
          line-height: 1.74;
          @include font-size(2.875rem);
          text-decoration: none;
          color: var(--color-white);
          position: relative;

          &::after {
            content: "::";
            position: absolute;
            color: inherit;
            line-height: 1.74;
            @include font-size(2.875rem);
            font-family: "Graphik", sans-serif;
            transform: translateX(.5em);
            opacity: 0;
            transition: all .3s ease-in-out;
            margin-top: -2px;
          }

          &:hover {
            &::after {
              opacity: 1;
              transform: translateX(1em);
            }
          }
        }
      }
    }

    @include bp-sm {
      margin-top: 0;
    }
    @include bp-lg {
      padding-left: 10em;
    }
  }

  &.is-open {
    opacity: 1;
    transform: translateX(0);
  }
}