<header id="page-header" class="flex justify-between items-center fixed top-1 inset-x-1">
    <div class="w-16">
        <a href="{{ baseUrl }}">
            {% include 'includes/logo' %}
        </a>
    </div>
    {% include '_partials/navbar' %}
</header>