/**
 * Viewport definitions
 */

@custom-media --max-width (width <= 90em);
@custom-media --desktop (width >= 71.25em);
@custom-media --tablet-landscape (width >= 60em);
@custom-media --tablet-portrait (width >= 42.5em);
@custom-media --vp-phone-landscape (width >= 30em);