<div class="container--fw container@md is-{{ block.colorScheme }} title-text-block">
    <div class="container">
        <div class="grid--fw my-1 pt-4 pb-2 my-0@md px-2@lg">
            <div class="col-12">
                <div class="grid">
                    <div class="col-12 col-5@lg">
                        <div class="box">
                            <h2 class="h3" data-aos="fade-up">{{ block.sectionTitle }}</h2>
                        </div>
                    </div>
                    <div class="col-12 col-7@lg">
                        <div class="box">
                            <div class="text-offset" data-aos="fade-up" data-aos-delay="300">
                                {{ block.sectionText }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>